  <center>
  <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">I'm Raghav.</span></h2>
          <p class="lead">I am currently a 19 year old third year student at the University of Michigan - Ann Arbor. I enjoy doing a variety of things, including building impactful products, exploring Ann Arbor restaurants, and indulging in excessive amounts of New York Pizza.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="https://pbs.twimg.com/profile_images/378800000825019781/706c5325e8a7ebe3361edf841c1dbcbe.jpeg" alt="Raghav Haran" height="200px" width="200px">
        </div>
  </div>
<p>
<hr class="featurette-divider">
</p>
<p>
  <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="http://b.vimeocdn.com/ps/565/231/5652310_300.jpg" alt="Generic placeholder image" height="200px" width="200px">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">We could build great things together.</span></h2>
          <p class="lead">Your experienced, diverse teachers + my creativity and resilience + working with other talented students = beautiful, useful web applications. I'm not new to the startup world - I love innovative products and driving them forward, and LA could give me the guidance I need to reach my goals.</p>
          <p>
        </div>
      </div>
  </center>
</p>

