<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="http://www.surgeryedu.com/uploads/2/1/2/0/21207860/1373316063.png" alt="SurgeryEdu">
      <div class="caption">
        <h3>SurgeryEdu</h3>
        <p class="text-muted">I co-founded SurgeryEdu, a company which provides a suite of medical apps for clinicians to educate their patients.</p>
        <p><a href="http://www.surgeryedu.com" class="btn btn-default" role="button">Access Site</a></p>
      </div> 
    </div>
  </div>
</div>