 <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://www.surgeryedu.com/uploads/2/1/2/0/21207860/1375385345.jpg" alt="SurgeryEdu" height="140px" width="140px">
          <h2>SurgeryEdu</h2>
          <p>I co-founded SurgeryEdu, a suite of iPad apps that allow clinicians to educate patients using 3D, interactive content. My co-founder and I raised $20k in grant funding and have formed partnerships with the University of Michigan Health System and the Mayo Clinic.</p>
          <p><a class="btn btn-default" href="http://www.surgeryedu.com" role="button">View site &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="https://maizepages.umich.edu/images/W170xL170/0/noshadow/Organization/51d85b10ea364c2e8fbd60dc8e895e70.jpg" alt="Wolverine Tutors" height="140px" width="140px">
          <h2>WolverineTutors</h2>
          <p>I built wolverinetutors.org, the website for my former student organization, with another student. High school students can post questions on forums as well as sign up for one on one tutoring times. The site uses a Wordpress backend.</p>
          <p><a class="btn btn-default" href="http://www.wolverinetutors.org" role="button">View site &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://windquest.com/uploads/cache/uploads/news/RPM_Ventures_from_indd_215_215_s_c1.png" alt="RPM Ventures" height="140px" width="140px">
          <h2>RPM Ventures</h2>
          <p>I interned as a summer analyst at RPM Ventures, an early stage venture fund in Ann Arbor. I did due diligence on multiple investments, reviewed new opportunities, and developed launch strategy recommendations for a seed stage portfolio company via data analysis.</p>
          <p><a class="btn btn-default" href="http://www.rpmvc.com" role="button">View site &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
